<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
    <property name="hibernate.hikari.dataSource.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="hibernate.hikari.dataSource.user">techtask</property>
    <property name="hibernate.hikari.dataSource.password">techtask</property>
    <property name="hibernate.hikari.minimumIdle">5</property>
    <property name="hibernate.connection.datasource">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="hibernate.hikari.maximumPoolSize">10</property>
    <property name="hibernate.hikari.idleTimeout">30000</property>
    <property name="hibernate.hikari.connectionTimeout">30000</property>
    <property name="hibernate.hikari.leakDetectionThreshold">2000</property>

    <!-- Настройки подключения к базе данных -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="hibernate.connection.username">techtask</property>
    <property name="hibernate.connection.password">techtask</property>

    <!-- Дополнительные настройки -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <!-- Сущности -->
    <mapping class="com.example.moviereviewplatform.entity.Movies"/>
    <mapping class="com.example.moviereviewplatform.entity.Reviews"/>
    <mapping class="com.example.moviereviewplatform.entity.User"/>
    <mapping class="com.example.moviereviewplatform.entity.Watchlist"/>
  </session-factory>
</hibernate-configuration>
